<form action='/receipt'>
	<div class='form-group'>
		<label for='length'>Length (cm)</label>
		<input id='length' name='length' type='number' class='form-control'>
	</div>
	
	<div class='form-group'>
		<label for='height'>Height (cm)</label>
		<input id='height' name='height' type='number' class='form-control'>
	</div>
	
	<div class='form-group'>
		<label for='depth'>Depth (cm)</label>
		<input id='depth' name='depth' type='number' class='form-control'>
	</div>
	
	<button type='submit' class='btn btn-primary'>Submit</button>
</form>